.image_lateral_droite {
    width: 649px;
    height: 362px;
}

.image_lateral_droite:hover {
    transform: scale(1.28);
}

.bgi_header {
    background-image: url("/Wakanda/Pantherwakanda1.png");
    background-size: cover;
    height: 847px;
    z-index: 1;
}

.positionnement_text_header_wakanda {
    position: relative;
    top: 190px;
}

.youtube_video {
    width: 460px;
}

.bgi_main {
    background-image: url("/Wakanda/Pantherwakanda2.png");
    background-repeat: no-repeat;
}